doctype html
html(lang="en")
  head
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js")
    script(src="backgroundEngine.js")
    script(src="projectile.js")
    script(src="enemy.js")
    script(src="player.js")
    script(src="game.js")
  button(id="startGame") Start Game
  canvas(width="900" height="768" id="gameCanvas")
